{% load static %}
<html>
<head>
  <title>Download Salary SLip</title>
  <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Plugin css for this page -->
    <link href="{% static 'employee_information/assets/material-admin/vendors/flag-icon-css/css/flag-icon.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'employee_information/assets/material-admin/vendors/jvectormap/jquery-jvectormap.css' %}"
          rel="stylesheet">
    <!-- End plugin css for this page -->
    <!-- Layout styles -->
    <link href="{% static 'employee_information/assets/material-admin/css/demo/style.css' %}" rel="stylesheet">
    <!-- End layout styles -->
    <link href="{% static 'employee_information/assets/material-admin/images/favicon.png' %}" rel="shortcut icon"/>

</head>
<body>
<script src="{% static 'employee_information/assets/material-admin/js/preloader.js ' %}"></script>

<div class="body-wrapper">
    <div class="main-wrapper mdc-drawer-app-content">
        <div class="page-wrapper mdc-toolbar-fixed-adjust">
            <main class="content-wrapper">
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-11" style="margin-left:10%;">
                        <div class="mdc-card">
                            <table class="table border border-dark border-bottom-0">
                                <tbody style="border: 0.5px solid black; border-bottom:0;">
                                <tr style="border: 0.5px solid black; border-bottom:0;border-right:0;">
                                    <td class="border-0"  style="margin-left:30rem;">
                                        <h5 class="fw-bold float-center mt-4" style="display:inline; margin-top:10%;">Salary Slip&nbsp;
                                            <span class="float-end">Period: {{salary.date|date:'F-o'}}</span></h5>
                                    </td>
                                </tr>
                                <tr style="border: 0.5px solid black; border-bottom:0; border-top:0; border-right:0;">
                                    <td class="mt-1 text-left fw-bold border-0">Company Name : Distinct Digital Media Pvt.Ltd.</td>
                                </tr>
                                <tr style="border: 0.5px solid black; border-bottom:0;border-right:0; border-top:0;">
                                    <td class="text-left border-0 fw-bold mt-2">Address : Distinct Digital Media Pvt.Ltd. Vascon Almonte IT Park,Sprint Co-Working Space 6th Floor,<br>
                                        <span class="text-left fw-bold border-0">Rakshak Nagar,near Reliance Mall,Kharadi,Pune,Maharashtra,India , Pune-411014</span></td>
                                </tr>
                                <tr>
                                    <td colspan="1">
                                        <fieldset>
                                            <h6 class="fw-bold" style="margin-right:100%;">Employee Name : {{ employee.emp_name }}</h6>
                                            <h6 class="col-6 text-left fw-bold">Date Of Joining : {{ employee.joining_date }}</h6>
                                            <h6 class="col-6 text-left fw-bold">PAN Number : {{ employee.pancard }}</h6>
                                            <h6 class="col-6 text-left fw-bold">Branch : Kharadi </h6>
                                            <h6 class="col-6 text-left fw-bold">Gross : {{ salary.gross|floatformat:'0' }}</h6>
                                            <h6 class="col-6 text-left fw-bold">Payable Days : {{ salary.payable_days|floatformat:'0' }}</h6>
                                        </fieldset>
                                    </td>
                                    <td colspan="1">
                                        <fieldset>
                                            <h6 style="margin-right:29%;" class="fw-bold">Employee ID :  {{ employee.employee_ID }}</h6>
                                            <h6 class="fw-bold" style="margin-left:4%;">Designation :  {{ employee.designation.name }}</h6>
                                            <h6 class="fw-bold" style="margin-left:4%;">Department :  {{ employee.department.name }}</h6>
                                            <h6 class="fw-bold" style="margin-right:21%;">UAN No :  {{ salary.uan_no|floatformat:'0' }}</h6>
                                            <h6 class="fw-bold" style="margin-right:66%;">CTC :  {{ salary.ctc|floatformat:'0' }}</h6>
                                        </fieldset>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table border border-dark" style="margin-top:-1.8%">
                                <tbody>
                                <tr>
                                    <th colspan='2' class="text-left border-dark border-right fw-bold h6"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Payment</th>
                                    <th colspan='2' class="text-left border-dark border-right fw-bold h6">Deduction</th>
                                </tr>
                                <tr>
                                    <td class="text-left border-bottom-0 h6">Basic Salary</td>
                                    <td class="border-dark border-right border-bottom-0 h6">{{salary.basic_salary}}</td>
                                    <td class="text-left border-bottom-0 h6">PT Maharashtra</td>
                                    <td class="border-bottom-0 h6">{{salary.pt_maharashtra}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left border-bottom-0 h6">HRA</td>
                                    <td class="border-right border-dark border-right border-bottom-0 h6">{{salary.HRA}}</td>
                                    <td class="text-left border-bottom-0 h6">Employers 's share in PF</td>
                                    <td class="border-bottom-0 h6">{{salary.employers_share_in_pf}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left border-bottom-0 h6">Medical Allowance</td>
                                    <td class="border-dark border-right border-bottom-0 h6">{{salary.medical_allowance}}</td>
                                    <td class="text-left border-bottom-0 h6">Health Insurance</td>
                                    <td class="border-bottom-0 h6">{{salary.health_insurance}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left border-bottom-0 h6">Conveyance Allowance</td>
                                    <td class="border-dark border-right border-bottom-0 h6">{{salary.conveyance_allowance}}</td>
                                    <td class="text-left border-bottom-0 h6">Employee 's share in PF</td>
                                    <td class="border-bottom-0 h6">{{salary.employee_share_in_pf}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left border-bottom-0 h6">Leave Travel Allowance</td>
                                    <td class="border-dark border-right border-bottom-0 h6">{{salary.leave_travel_allowance}}</td>
                                    <td class="text-left border-bottom-0 h6"></td>
                                    <td class="border-bottom-0 h6"></td>
                                </tr>
                                <tr>
                                    <td class="text-left border-bottom-0 h6">Special allowance</td>
                                    <td class="border-dark border-right border-bottom-0 h6">{{salary.special_allowance}}</td>
                                    <td class="text-left border-bottom-0 h6"></td>
                                    <td class="border-bottom-0 h6"></td>
                                </tr>
                                <tr>
                                    <th colspan='2' class="border-dark border-top border-right fw-bold h6"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Total Payments<span class="float-end">{{total_payment}}</span></th>
                                    <th colspan='2' class="text-left border-dark border-top fw-bold h6">Total Deductions<span class="float-end">{{deduction}}</span></th>
                                </tr>
                                <tr>
                                    <th colspan='2' class="text-left border-dark border-top fw-bold h6"></th>
                                    <th colspan='2' class="text-right border-dark border-top fw-bold h6">Net Pay :&nbsp;&nbsp; {{net_pay}}</th>
                                </tr>
                                <tr>
                                    <th class="text-center border-dark border h6 fw-bold">Total Days</th>
                                    <th class="text-center border-dark border h6 fw-bold">Paid Days(TD/WO/HL/PL/OT/OH/CO)</th>
                                    <th class="text-center border-dark border h6 fw-bold">Unpaid</th>
                                    <th class="text-center border-dark border h6 fw-bold">Leave Saved Monthly Yearly</th>
                                </tr>
                                <tr>
                                    <td class="text-center border-dark border h6">30</td>
                                    <td class="text-center border-dark border h6">30(27/0/0/3/0/0/0)</td>
                                    <td class="text-center border-dark border h6">0</td>
                                    <td class="text-center border-dark border h6">Yearly</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="">*Note : TD-Total worked days, WO- Weekly Off, HL-Paid Holidays, PL-Paid Leave, OT-Over Time Days, OH-Over Time Hrs,CO-Compensatory Off<br>
                                        <span>*Note : Leave Balance (if any) as on {{salary.date|date:'F-o'}}</span></p>
                             <p class="fw-bold mx-1">Amount in Words : Rupees  {{net_pay_in_words}}  Only</p>
                        </div>
                    </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>
